body {
    text-align: center; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif; 

}

p{
    color: #8f8f8f;
}

/* heading */
.big-heading {
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
}

.h2-headings {
    font-size: 3rem;
    line-height: 1.5;
}

.h3-headings {
    font-size: 1.5rem;
    font-weight: bold;
}

/* class edit */
.container-fluid{
    padding: 7% 15%;
}

.fab{
    margin-right: 0.625rem;
}


/* section edits */
.colored-section {
    background-color: #ff4c68;
    color: #fff;
}

.white-section {
    background-color: #fff;
}

/* Navbar edits */
.navbar{
    padding: 0 0 4.5rem;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-family: 'Montserrat', sans-serif;    
    font-size: 1.2rem;
    font-weight: bold;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/* button edits */
.downloadButton{
    margin: 5% 3% 5% 0;
}

/* headings edit */
/* target specifically the navbar padding */
#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title image edit */
.imgRotate{
    right: 25rem;
    position: absolute;
    transform: rotate(25deg);
    width: 15%;
}
/* changes the image from absolute to static when width of the viewport is less than 1028px*/
@media (max-width: 1030px) {
    .imgRotate{
        position: static;
        transform: rotate(0);
        width: 60%;
    }

    /* make the h1 heading center align when width is less than 1028px */
    #title{
        text-align: center;
    }
}

/* features edit */
#features{
    position: relative;
}

.intro{
    text-align: center;
    padding: 5%;
}

.fas{
    color: #ef8172;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.fas:hover{
    color: #ff4c68;
}

/* testimonial edit */
#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

/* press section */
#press{
    background-color: #ef8172;
    padding-bottom: 10%;
}

.press-images{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

.pricing-col{
    padding: 3% 2%;
}


/* call to action edits */
.call-h3 {
    font-size: 3rem;
    padding: 5%;
}

/* footer edits */

.footer-icon {
    margin-bottom: 1rem;
}
